*{
    font-family: 'Roboto', sans-serif;
    
}



body {
    text-align: center;
    border-radius: 5px;
    
}

p   {
    /*margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    border-style:solid;
    border-width: 2px;
    border-radius: 5px;
    text-align:justify;
    padding: 20px;
    background-color: rgb(121, 204, 255,.5);*/
    margin: auto;
    


}

div {  
    box-shadow: 2px 2px 10px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    border-style:none;
    border-width: 2px;
    border-radius: 5px;
    text-align:justify;
    padding: 20px;
    background-color: rgb(121, 204, 255,.5);
    border-bottom: 3px solid rgb(128, 128, 128);
   
    
}

a   {

    text-decoration: none;
    
}


img{
    
    text-align: justify;
    border-radius: 100px;
    border-style: solid;
    max-width: 80px;
    max-height: 80px;
    margin-bottom: 0px;
    
    
    
}



button {
    
    font-size: 1qpx;
    background-color: rgb(181, 234, 230);
    border-radius: 5px;
    border-style:none;
    border-width: 1.5px;
    border-color: black;
    box-shadow: 2px 2px 5px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    border-bottom: 4px solid rgb(128, 128, 128);
    border-bottom-color: rgb(67, 123, 123);
    
}

button:hover {
    background-color: rgba(109, 153, 181, 0.5);
    box-shadow: 5px 5px 10px;
}

/*h1  {
     
    /*margin-inline-start: 50px;
    border-radius: 20px;
    background-color: rgb(126, 126, 126,.5);
    padding: 15px 32px;
    text-decoration-style: none;
}

*/

li{
    border-style:none;
    border-width: 1.5px;
    border-radius: 5px;
    text-align: left;
    padding: 2px;
    /*background-color: rgba(116, 155, 199, 0.5);
   */
}

h4{
    line-height: 50px;
    margin-top: 60px;
}

h3{
    border-bottom: 5px solid rgb(128, 128, 128);
    border-radius: 5px;
    background-color: rgba(58, 150, 255, 0.5);
    border-width:2.5px;
    margin-left: 150px;
    margin-right: 150px;
    box-shadow: 2px 2px 10px;
    
}

h5{
    margin: 1px;
    
}

